.FanPageListings {
    align-content: center;
    justify-content: center;
    
}

.FanPageListings h3{
    text-align: center;
    
}

.FanPageListings button {
    background-color: #44318D;
    border: #9E43AA;
    font-style: bold;
}

.FanPageListings button:hover {
    background-color: #2A1B3D;
}

.FanPageListingsCard{
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    
    
}