.FanPageListings {
    align-content: center;
    justify-content: center;
    
}

.FanPageListings h1{
    text-align: center;
    
}

.FanPageListingsCard{
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    
    
}