.CreateFanPage {
  padding: 15px;
  height: 100%;
  transition: background-image 0.2s;
  background-size: cover;
  background-position: center;
}

.FanPageEditor_heading,
.CreateFanPage ol,
.CreateFanPage li {
  color: #000000;
}
