.attc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E98074;
    border-radius: 5px;
 
    margin-bottom: 30px;
    padding-top: 30px;
    font-family: 'Laila', sans-serif;
}

.attc p {
    font-family: 'Laila', sans-serif;
    font-size: 30px;
}