* { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
.welcome {

    display: flex;
    justify-content: center;
    margin: 0;
    font-family: 'Laila', sans-serif;
}

.info {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px

}

.logo {
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    width: 200px;

}

.dev-team-roster {
    display: flex;
    
    justify-content: space-around !important;

}