.UserProfilePage{
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.firstName {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}

.username {
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.btn.edit {
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}


