.UserProfilePage{
    text-align: center;
    padding-bottom: 10px;
    background-color: #5A3E79;
}

.firstName {
    padding-top: 50px;
    padding-bottom: 50px;
}

.username {
    margin-bottom: 10px;
}

.btn.edit {
    margin-bottom: 50px;
}


