.maincardtitle {
    margin-bottom: 20px;
}

.card-body {
    font-size: 22px;
    background-color: #EAAC8B;
 
}
.card-title {
    font-size: 30px;
    color: #355070;
}
.maincardtitle {
    color: #B56576;
}