.FanPageEditor {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  border: 1px solid #808184;
  padding: 20px;
}

.DetailEditor input,
.DetailEditor textarea {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  border: 1px solid #000000;
  margin-top: 5px;
  padding: 10px;
}

.TrackListEditor__user-selection,
.AlbumListEditor__user-selection {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  border: 1px solid #000000;
  margin-top: 5px;
  padding: 5px 10px 5px 10px;
}
