.HomePage {
    background-image: url('../../images/concert-image.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}   

.HomePage h3 {
    color: white;
}

.HomePage h1 {
    color: white;
    font-size: 60px;
    justify-content: center;
    margin-top: 10vh;
}

.HomePage-buttons {
    display: inline-block;
    margin-bottom: 10vh;
    
}

.exploreButton, .createButton {
    margin: 0 20vh;
    width: 200px;
    height: 100px;
    font-size: 25px;
    border: white 2px solid;
    background-color: #44318D;
    font-style: bold;
}

.exploreButton:hover, .createButton:hover {
    background-color: #2A1B3D;
}
