

.artistTitle {
  align-items: center;
  color: white;
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
  justify-content: center;
}

.FanPageBody {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
